body {
    background-color: tomato;
}
.hero {
    width: 100%;
    padding: 80px 0;
    background-color: aqua;
    color: #fff;
    text-align: center;
}

.content {
    width: 100%;
    background-color: brown;
    color: #fff;
}

.dugnas {
    
    width: 100%;
    background-color: yellow;
    color: #aaa;
}